# Ignore node_modules
node_modules/

# Ignore build output
build/
dist/

# Ignore coverage folder
coverage/

# Ignore public assets
public/

# Ignore environment files
.env
.env.*

# Ignore configuration files
*.config.js
.eslintrc.js
.eslintconfig.js
prettier.config.js

# Ignore lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore specific file types
*.min.js
*.bundle.js
*.snap
*.svg
*.ico
*.css

tailwind.config.js
tailwind.config.ts
cypress/
