# Node modules
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
/.pnp
.pnp.js

# Build output
/build
/dist
/.husky

# testing
/coverage
/junit.xml
/coverage-final.json
/coverage/lcov-report
/coverage/lcov.info
/.nyc_output

# TypeScript
*.tsbuildinfo
*.d.ts
**/*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.*
.env.*.local

# parcel-bundler cache
.cache

# ESLint
.eslintcache

# Prettier
.prettier-cache

# Windows
Thumbs.db
ehthumbs.db
