@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Syne, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    outline: none;
    border: none;

    &:focus {
        outline: none;
        border: none;
    }

    &::selection {
        outline: none;
        border: none;
    }

    &:focus-visible {
        outline: none;
        border: none;
    }
}

.login-image {
    // background-image: url(./presentation/assets/image/illustrations/Vector.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.sign-image {
    background-image: url('./presentation/assets/image/illustrations/fraud-2048851_640.jpg');
    background-size: cover;
    background-position: center;
}

.sign-image2 {
    background-image: url('./presentation/assets/image/illustrations/galleon-1666084_640.jpg');
    background-size: cover;
    background-position: center;
}

.sign-image3 {
    background-image: url('./presentation/assets/image/illustrations/people-431943_640.jpg');
    background-size: cover;
    background-position: center;
}

.menu-btn.active{
    background-color: hsl(var(--nextui-primary) / var(--nextui-primary-opacity, var(--tw-bg-opacity)));
    color: #fff;
    opacity: 1;
}
